@import 'mixins.scss';

.btnSend {
  width: 100%;

  i {
    margin-right: rem(8);
    position: relative;
    top: 1px;
  }
}

.assetGroup {
  :global(.ant-input-number),
  :global(.ant-btn) {
    border-radius: 0 !important;
  }

  :global(.ant-form-item:first-child) {
    :global(.ant-input-number),
    :global(.ant-btn) {
      border-radius: 8px 0 0 8px !important;
    }
  }

  :global(.ant-form-item:last-child) {
    :global(.ant-input-number),
    :global(.ant-btn) {
      border-radius: 0 8px 8px 0 !important;
    }
  }
}

.asset {
  &Amount {
    width: calc(100% - 168px);
  }
  &Donate {
    width: 120px;
  }
  &Remove {
    width: 50px;

    :global(.ant-btn) {
      width: 50px;
      color: $gray-4;
      &:hover {
        color: $primary;
      }
    }
  }
}

// dark theme
// [data-vb-theme='dark'] {

// }
