@import 'mixins.scss';

.rewards {
  &Item {
    border-top: 1px solid $border;
    padding-top: rem(15);
    position: relative;
  }

  &Icon {
    color: $gray-3;
    position: absolute;
    top: rem(14);
    right: rem(0);

    &Success {
      color: $success !important;
    }
  }

  &Epoch {
    font-size: rem(24);
    font-weight: 700;
    display: flex;

    &Count {
      margin-right: rem(5);
    }

    &Info {
      padding-top: rem(8);
      font-size: rem(12);
      font-weight: normal;
      line-height: 0.8;
      display: flex;
      flex-direction: column;
    }
  }

  &Date {
    font-size: rem(12);
    margin: rem(10) 0 rem(5);
  }
}

// dark theme
[data-vb-theme='dark'] {
  .rewards {
    &Item {
      border-color: $dark-border;
    }

    &Icon {
      color: $dark-gray-3;
    }
  }
}
