@import 'mixins.scss';

.item {
  margin-bottom: rem(20);
  padding: rem(10) rem(20);
  border-radius: 8px;
  border: 1px solid $border;
  position: relative;
  padding-left: rem(70);
}

.wrapper {
  font-size: rem(14);
}

.icon {
  font-size: rem(36);
  position: absolute;
  top: rem(7);
  left: rem(15);
}

.info {
  margin-top: rem(5);
  font-size: rem(14);
  font-family: monospace;
  color: $text;
}

.address {
  word-break: break-all;
  word-wrap: break-word;
  color: $text;
}

// dark theme
// [data-vb-theme='dark'] {

// }
