@import 'mixins.scss';

.outputLine {
  margin: rem(20) rem(-25);
  height: 1px;
  background: $border;
}

.removeOutput {
  float: right;
  i {
    position: relative;
    top: 1px;
  }
}

.assetGroup {
  :global(.ant-input-number),
  :global(.ant-btn),
  :global(.ant-input),
  :global(.ant-select-selector) {
    border-radius: 0 !important;
  }

  :global(.ant-form-item:first-child) {
    :global(.ant-input-number),
    :global(.ant-btn),
    :global(.ant-input),
    :global(.ant-select-selector) {
      border-radius: 8px 0 0 8px !important;
    }
  }

  :global(.ant-form-item:last-child) {
    :global(.ant-input-number),
    :global(.ant-btn),
    :global(.ant-input),
    :global(.ant-select-selector) {
      border-radius: 0 8px 8px 0 !important;
    }
  }
}

.asset {
  &TickerAda {
    width: 50%;

    :global(.ant-select-selector) {
      opacity: 1 !important;
      cursor: default !important;
    }

    :global(.ant-select-arrow) {
      display: none !important;
    }
  }
  &AmountAda {
    width: 50%;

    :global(.ant-input-affix-wrapper) {
      border-radius: 0 8px 8px 0 !important;
    }
  }
  &Ticker {
    width: 50%;
  }
  &Amount {
    width: calc(50% - 50px);

    :global(.ant-input-affix-wrapper) {
      border-radius: 0 8px 8px 0 !important;
    }
  }
  &Donate {
    width: 120px;
  }
  &Remove {
    width: 50px;

    :global(.ant-btn) {
      width: 50px;
      color: $gray-5;
      &:hover {
        color: $primary;
      }
    }
  }
  &To {
    color: $black;
    font-weight: 700;
    font-size: rem(14);
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &Token {
      padding-top: rem(5);

      .assetName {
        span {
          display: block !important;
          line-height: rem(15);

          &:last-child {
            font-size: rem(12);
            text-transform: uppercase;
            font-weight: normal;
            color: $gray-5;
          }
        }
      }
    }
  }
  &Icon {
    display: inline-block;
    height: 26px;
    width: 26px;
    min-width: 26px;
    background: $pastel-1;
    border-radius: 20px;
    margin-right: rem(7);
    border: 1px solid $border;
    text-align: center;
    font-weight: normal;
    overflow: hidden;

    span {
      float: left;
      display: block;
      height: 24px;
      width: 24px;
      text-align: center;
      line-height: 24px;
      font-size: rem(14);
    }

    img {
      height: 24px;
      width: 24px;
      float: left;
    }
  }
}

// dark theme
[data-vb-theme='dark'] {
  .asset {
    &To {
      color: $white;
    }

    &Icon {
      background: $dark-border;
      border-color: $dark-border;
    }
  }

  .outputLine {
    background: $dark-border;
  }
}
