@import 'mixins.scss';

.assetGroup {
  :global(.ant-input-number),
  :global(.ant-btn),
  :global(.ant-input),
  :global(.ant-select-selector) {
    border-radius: 0 !important;
  }

  :global(.ant-form-item:first-child) {
    :global(.ant-input-number),
    :global(.ant-btn),
    :global(.ant-input),
    :global(.ant-select-selector) {
      border-radius: 8px 0 0 8px !important;
    }
  }

  :global(.ant-form-item:last-child) {
    :global(.ant-input-number),
    :global(.ant-btn),
    :global(.ant-input),
    :global(.ant-select-selector) {
      border-radius: 0 8px 8px 0 !important;
    }
  }
}

.asset {
  &Ticker {
    width: 40%;
  }
  &Amount {
    width: calc(60% - 50px);
  }
  &Donate {
    width: 120px;
  }
  &Remove {
    width: 50px;

    :global(.ant-btn) {
      width: 50px;
      color: $gray-4;
      &:hover {
        color: $primary;
      }
    }
  }
  &To {
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  &Icon {
    display: inline-block;
    height: 26px;
    width: 26px;
    background: $pastel-1;
    border-radius: 20px;
    margin-right: rem(7);
    border: 1px solid $border;
    text-align: center;
    font-weight: normal;
    overflow: hidden;

    span {
      float: left;
      display: block;
      height: 24px;
      width: 24px;
      text-align: center;
      line-height: 24px;
      font-size: rem(14);
    }

    img {
      height: 24px;
      width: 24px;
      float: left;
    }
  }
}

// dark theme
[data-vb-theme='dark'] {
  .asset {
    &To {
      color: $white;
    }

    &Icon {
      background: $dark-border;
      border-color: $dark-border;
    }
  }
}
