@import 'mixins.scss';

.letter {
  height: rem(30);
  width: rem(30);
  margin: -15px -8px -10px 0;
}

.header {
  display: flex;
  padding: rem(15) rem(20);
}

.menu {
  a {
    font-size: rem(18);
    margin-right: rem(25);
    position: relative;
    white-space: nowrap;
    display: inline-block;

    span:first-child {
      opacity: 0;
      font-weight: 600;
    }

    span:last-child {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
    }

    &.active {
      font-weight: 600;
      color: $black;
    }
  }
}

.icons {
  margin-left: auto;

  a {
    display: inline-block;
    font-size: rem(18);
    margin-right: rem(15);
    color: $gray-5;

    &:hover {
      color: $blue-dark;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// dark theme
[data-vb-theme='dark'] {
  .menu {
    a {
      &:hover {
        color: $blue-dark;
      }

      &.active {
        color: $white;
      }
    }
  }
}
