@import 'mixins.scss';

.logo {
  display: inline-block;

  img {
    width: rem(60);
    margin-right: rem(6);
    position: relative;
    top: -1px;
  }

  &Name {
    font-weight: bold;
    color: $black;
    letter-spacing: 2px;
    margin-right: rem(15);
    font-size: rem(14);
  }
}

.qr {
  margin: rem(30) 0 rem(20);
  display: inline-block;

  canvas {
    margin: 0 auto;
    max-width: 100%;
    width: 300px !important;
    height: auto !important;
  }
}

// dark theme
[data-vb-theme='dark'] {
  .logo {
    &Name {
      color: $white;
    }
  }
}
