@import 'mixins.scss';

.container {
  min-height: 100vh;
  max-width: rem(920);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.menu {
  min-width: 300px;
  max-width: 300px;
  padding: rem(30) rem(20);
}

.page {
  padding: rem(30) rem(20);
  flex-grow: 1;
}

.header {
  border-bottom: 1px solid $border;
}

.content {
  display: flex;
}

.footer {
  margin-top: auto;
}

// dark theme
// [data-vb-theme='dark'] {

// }
