@import 'mixins.scss';

.container {
  min-height: 100vh;
  min-width: 850px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: $pastel-1;
  width: calc((100% - 980px) / 2 + 340px);
  min-width: 340px !important;
}

.header,
.content,
.footer {
  position: relative;
  z-index: 2;
}

.header {
  position: relative;
  z-index: 3;
  background: $white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.footer {
  margin-top: auto;
}

// dark theme
// [data-vb-theme='dark'] {

// }
