@import 'mixins.scss';

.ray {
  &__block {
    max-width: 980px;
    margin: 0 auto;
  }

  &__page {
    display: flex;
  }

  &__menu {
    width: 370px;
    padding: rem(25) rem(45);
  }

  &__content {
    padding: rem(25) rem(30);
    flex-grow: 1;
  }
}
