@import 'mixins.scss';

.ray {
  &__block {
    max-width: 980px;
    margin: 0 auto;
  }

  &__page {
    display: flex;
  }

  &__menu {
    min-width: 340px;
    max-width: 340px;
    padding: rem(35) rem(45) rem(25);
  }

  &__content {
    padding: rem(35) rem(30) rem(25);
    flex-grow: 1;
  }

  &__heading {
    font-size: rem(14);
    padding-bottom: rem(10);
    border-bottom: 1px solid $border;
    margin-bottom: rem(20);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }

  &__totals {
    border-radius: 8px;
    border: 1px solid $border;
    padding: rem(20);
    background: $pastel-1;

    &--transparent {
      background: transparent;
    }
  }

  &__item {
    border-radius: 8px;
    border: 1px solid $border;
    padding: rem(20) rem(20);
    margin-bottom: rem(30);

    &--current {
      border-color: $primary;
      box-shadow: 0 0 0 2px rgba(1, 122, 255, 0.2);
    }

    &--disabled {
      background: $gray-1;
    }

    .badge {
      position: relative;
      top: -2px;
      font-size: rem(14);
    }

    &__id {
      font-family: monospace;
      word-break: break-all;
      word-wrap: break-word;
      color: $text;
      font-size: rem(14);
    }
  }

  &__form {
    &__label {
      color: $dark !important;
      text-transform: uppercase;
      font-weight: 700;
      font-size: rem(12) !important;
      padding-top: rem(3);
      margin-bottom: rem(9);
      line-height: 1.5715;
    }
  }
}
