@import 'mixins.scss';

.ray {
  &__block {
    max-width: 980px;
    margin: 0 auto;
  }

  &__page {
    display: flex;
  }

  &__menu {
    min-width: 340px;
    max-width: 340px;
    padding: rem(35) rem(45) rem(25);
  }

  &__content {
    padding: rem(35) rem(30) rem(25);
    flex-grow: 1;
  }

  &__heading {
    padding-top: rem(15);
    border-top: 4px solid $pastel-1;
    margin-bottom: rem(20);
    font-weight: 700;
    padding-left: rem(20);
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background: $primary;
      position: absolute;
      top: rem(22);
      left: 0;
    }
  }

  &__item {
    border-radius: 8px;
    border: 1px solid $border;
    padding: rem(20) rem(20);
    margin-bottom: rem(30);

    &--current {
      border-color: $primary;
      box-shadow: 0 0 0 2px rgba(1, 122, 255, 0.2);
    }

    &--primary {
      border-top: 4px solid $primary;
    }

    &--success {
      border-top: 4px solid $success;
    }

    &--border {
      border-top: 4px solid $border;
    }

    &--tinted {
      background: $pastel-1;
    }

    &--disabled {
      background: $gray-1;
    }

    .badge {
      position: relative;
      top: -2px;
      font-size: rem(14);
    }

    &__id {
      font-family: monospace;
      word-break: break-all;
      word-wrap: break-word;
      color: $text;
      font-size: rem(14);
    }
  }

  &__form {
    &__label {
      color: $dark !important;
      text-transform: uppercase;
      font-weight: 700;
      font-size: rem(12) !important;
      padding-top: rem(3);
      margin-bottom: rem(9);
      line-height: 1.5715;
    }
  }

  &__submenu {
    margin-bottom: rem(20);

    a {
      font-size: rem(18);
      margin-right: rem(30);
      position: relative;
      white-space: nowrap;

      span:first-child {
        opacity: 0;
        font-weight: 600;
      }

      span:last-child {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
      }
    }

    &__item {
      &--active {
        font-weight: 600;
        color: $black;
      }
    }
  }
}
