@import 'mixins.scss';

.footer {
  padding: rem(30) rem(45);
}

.logo {
  svg {
    width: rem(60);
    height: rem(18);
    margin-right: rem(6);
    vertical-align: sub;
  }

  &Name {
    font-weight: bold;
    color: $black;
    letter-spacing: 2px;
    margin-right: rem(15);
    font-size: rem(14);
  }
}

.version {
  color: $gray-4;
  font-size: rem(12);
}

.icons {
  margin: rem(10) 0;

  a {
    display: inline-block;
    font-size: rem(18);
    margin-right: rem(15);
    color: $gray-5;

    &:hover {
      color: $blue-dark;
    }
  }
}

// dark theme
// [data-vb-theme='dark'] {

// }
