@import 'mixins.scss';

.btnSend {
  width: 100%;

  :global(.ant-btn) {
    width: 100%;
  }

  i {
    margin-right: rem(8);
    position: relative;
    top: 1px;
  }
}

.assetGroup {
  :global(.ant-input-number),
  :global(.ant-btn),
  :global(.ant-input),
  :global(.ant-select-selector) {
    border-radius: 0 !important;
  }

  :global(.ant-form-item:first-child) {
    :global(.ant-input-number),
    :global(.ant-btn),
    :global(.ant-input),
    :global(.ant-select-selector) {
      border-radius: 8px 0 0 8px !important;
    }
  }

  :global(.ant-form-item:last-child) {
    :global(.ant-input-number),
    :global(.ant-btn),
    :global(.ant-input),
    :global(.ant-select-selector) {
      border-radius: 0 8px 8px 0 !important;
    }
  }
}

.asset {
  &Ticker {
    width: 160px;
  }
  &Amount {
    width: calc(100% - 280px);
  }
  &Donate {
    width: 120px;
  }
  &To {
    color: $black;
    font-weight: 700;
  }
  &Icon {
    display: inline-block;
    height: 26px;
    width: 26px;
    background: $pastel-1;
    border-radius: 20px;
    margin-right: rem(10);
    border: 1px solid $border;
    text-align: center;
    line-height: 24px;
    font-weight: normal;
  }
}

// dark theme
// [data-vb-theme='dark'] {

// }
